<h1 class="header-text">Register</h1>

<form class="form-standard" action="/auth/register" method="POST">
  {{#each auth_error}}
    <p class="auth-error">{{this}}</p>
  {{/each}}
  <input name="email" type="email" placeholder="Enter your email" required>
  <input name="password" type="password" placeholder="Enter your password" required>
  <button>Submit</button>
</form>