<form id="course-form">
  <input id="course-input" type="text" placeholder="Enter the course name">
  <button>Submit</button>
</form>

<h1>{{userName}}</h1>
<div class="courses">
  <!-- {{#each courses}}
    <h3>{{title}}</h3>
  {{/each}} -->
</div>