<h1 class="header-text">Search For Character</h1>

<form class="search" action="/search" method="POST">
  <input name="search" type="text" placeholder="Search for a character">
  <button>Submit</button>
</form>