* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form.form-standard {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 35px auto 0;
}

form.form-standard > * {
  padding: 7px 10px;
  margin-bottom: 8px;
}

form .auth-error {
  color: red;
  text-align: center;
}

.header-text {
  text-align: center;
  margin-top: 25px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 5%;
  background: #555;
}

header * {
  color: #fff;
}

header a {
  text-decoration: none;
}

header nav {
  display: flex;
}

header nav p {
  margin-right: 10px;
  color: #ddd;
}

header nav p:after {
  content: '|';
  margin-left: 10px;
}

header nav a:not(:last-child) {
  margin-right: 16px;
}

header nav a:hover {
  text-decoration: underline;
}

.cta {
  text-align: center;
  margin-top: 35px;
}

.cta h1 {
  margin-bottom: 15px;
}

.results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 15px;
}

.result {
  padding: 5px;
  text-align: center;
}

.result button {
  padding: 6px 8px;
  margin-top: 5px;
}

.no-results {
  padding: 10px;
}

.fav-table {
  margin: 35px auto 0;
}

.fav-table td {
  padding: 5px 10px;
  border: 1px solid #ccc;
}

.fav-table td button {
  padding: 6px 10px;
}